html, body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
}
#outer {
  height: 100%;
}
#top {
  height: 10%;
  background-color: #555;
}
#top h1 {
  color: #eee;
  font-family: 'Arbutus Slab', serif;
  padding: 0.7em 1em;
  margin: 0;
  font-size: 2em;
}
#main {
  height: 75%;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  background-color: #eee;
}
#footer {
  height: 20%;
  background-color: #111;
}
.photo {
  height: 100%;
}