html, body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
#outer {
  height: 100%;
}
#top {
  height: 9%;
}
#top h1 {
  font-family: 'Arbutus Slab', serif;
  padding: 0.7em 1em 1.2em;
  margin: 0;
}
#main {
  height: 75%;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  background-color: #eee;
}
#footer {
  height: 21%;
}
.photo {
  height: 100%;
}