/* General Settings */

::selection {
    background-color: #a05682;
    color: #fff;
}
::-moz-selection {
    background-color: #a05682;
    color: #fff;
}
body {
    font-size: 14px;
    font-family: "lucida grande","lucida sans unicode",arial,sans-serif;
    background: #eee;
    cursor: default;
}
input, option, select {
    font-size: 13px;
}
a {
    color: #4b8d0b;
    text-decoration: none;
}
a:hover {
    color: #000;
}
hgroup {
    display: block;
    width: 90px;
    height: 100px;
    margin: 0 auto;
    padding: 5px 0 3px 10px;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 23px;
    color: #333;
}
hgroup:hover {
    background: #ddd;
    box-shadow: 0 1px 5px #999, inset 0 10px 20px #ccc;
    -o-box-shadow: 0 1px 5px #999, inset 0 10px 20px #ccc;
    -webkit-box-shadow: 0 1px 5px #999, inset 0 10px 20px #ccc;
    -moz-box-shadow: 0 1px 5px #999, inset 0 10px 20px #ccc;
    border-radius: 15px;
    cursor: pointer;
}