html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  background: #000;
}
.body-bg {
  opacity: 0.8;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .body-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
#outer {
  height: 100%;
}
#top {
  height: 9%;
  min-height: 80px;
}
#menu {
  position: relative;
  top: 50%;
  float: right;
  font-weight: 300;
  font-size: 2em;
  margin-top: -19px;
  color: rgba(0, 0, 0, 0.8);
}
#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu li {
  display: inline-block;
  border-left: 2px solid #000;
  padding: 0 35px;
}
#menu li:first-child {
  border-left: 0;
}
#title {
  position: relative;
  top: 50%;
  margin-top: -19px;
  float: left;
}
#title span {
  font-weight: 400;
}
#title h1 {
  margin: 0 30px;
  padding: 0;
  font-weight: 100;
  color: #fff;
}
#main {
  height: 75%;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  background-color: #eee;
}
#footer {
  height: 21%;
}
.portfolio {
  height: 100%;
}
.portfolio-pic {
  height: 100%;
  margin: 0 -1px;
}
